html {
  height: 100%;
  width: 100%;
}
.main{
  background-color: gray;

  
}

.flexcontainer{
  color:  white;
  display: flex;
  justify-content: space-between;
  gap:2px;
  margin-left: 50px;
  padding-bottom: 50px;
}
.firsttwo{
  display: flex;
  gap: 20px;
  margin-right: 50px;
  
  
  
}
firsttwo div{
  padding: 10px;
}

.two{
  display: flex;
}

.firstone{
  padding-right: 100px;
  
}

.flexcontainer2{
  margin-left: 20px;
  display: flex;
  gap: 20px;

  
}
#but{
  background-color: blue;
  color: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right:10px ;
  
  
}

.main2{
  background-color: white;
  padding: 20px;
}

#banana{
  text-align: center;
}
.flexcontainer3{
  display:flex;
  justify-content: space-between;
  padding-left:50px;
  padding-right: 50px;
  
}
.flexcontainer3 div{
  
  border: solid blue 1px;
  border-radius: 1px;
  gap: 100px;
  height: 100px;
  width: 100px;
}

.flexcontainer4{
  display: flex;
  flex-direction: column;
}

.text1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-top:0px
}

.backg{
  background-color: peachpuff;
  text-align: center;
}

